spring:
  datasource:
    url: jdbc:postgresql://${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  
  data:
    redis:
      host: localhost
      port: 6379


jwt:
  secret: ${JWT_SECRET}
  expiration: 86400000

payment:
  processing:
    delay-seconds: 5
    scheduler-fixed-rate: 10000

logging:
  level:
    com.multitenancy.payment: DEBUG
    org.springframework.security: DEBUG
